= simple_form_for @gathering do |form|
  = form.input :name
  = form.input :kind, as: :select, collection: %w[burger beer conference hacking presentations]
  = form.input :location
  = form.input :description, as: :text
  = form.input :start_at, as: :datetime
  = form.button :submit
