.event
  %aside
    %h3.event-start-date= gathering.start_at.strftime("%B %d - %H:%M")
    %p
      = link_to participation(gathering), gathering_path(gathering)
  %article
    %h2.event-name= link_to gathering.name, gathering_path(gathering)
    - if current_member.try(:owns?, gathering)
      %span.event-edit= link_to 'edit', [:edit, gathering]
    %p= gathering.description
    = participations_link_for gathering

