.event
  %aside
    %h3.event-start-date= gathering.start_at.to_s(:long)
    %p
      = link_to gathering_path(gathering) do
        = gathering.members.count
        attending
  %article
    %h2.event-name= link_to gathering.name, gathering_path(gathering)
    - if current_member.try(:owns?, gathering)
      %span.event-edit= link_to 'edit', [:edit, gathering]
    %p= gathering.description
    = participations_link_for gathering

