.event{class: gathering_kind_css_class(@gathering)}
  %aside
    %h3.event-start-date= @gathering.start_at.strftime("%B %d - %H:%M")
    %p.attend-link= participations_link_for @gathering
    = gathering_kind_icon(@gathering)
  %article
    %h2.event-name= link_to @gathering.name, gathering_path(@gathering)
    %p.location
      = svg(image_path("location.svg"), fallback: "location.png", width: 20, height: 28)
      = @gathering.location
    - if current_member.try(:owns?, @gathering)
      %span.event-edit= link_to 'edit', [:edit, @gathering]
    %p= @gathering.description
    - unless @gathering.url.blank?
      %p= link_to(@gathering.url, @gathering.url)
    .event-attendees
      %h3= participation(@gathering)
      - @gathering.members.each do |member|
        .attendee{class: ('owner' if member == @gathering.owner)}
          = link_to "http://twitter.com/#{member.name}" do
            = image_tag(member.avatar_url, height: '123')
            %span= member.name
    .comments
      %h4 Leave a comment if you want to speak, carpool,...
      #disqus_thread
        :javascript
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'brug'; // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        %noscript
          Please enable JavaScript to view the
          %a{href: "http://disqus.com/?ref_noscript"} comments powered by Disqus.
        %a.dsq-brlink{href: "http://disqus.com"}
          comments powered by
          %span.logo-disqus Disqus
