.event
  %aside
    %h3.event-start-date= @gathering.start_at.strftime("%B %d - %H:%M")
    %p.attend-link= participations_link_for @gathering
  %article
    %h2.event-name= link_to @gathering.name, gathering_path(@gathering)
    - if current_member.try(:owns?, @gathering)
      %span.event-edit= link_to 'edit', [:edit, @gathering]
    %p= @gathering.description
    .event-attendees
      %h3= participation(@gathering)
      - @gathering.members.each do |member|
        .attendee
          = link_to "http://twitter.com/#{member.name}" do
            = image_tag(member.avatar_url, height: '123')
            %span= member.name
