.wrapper
  %span.logo-type= link_to 'BRUG', :root
  %ul.nav
    %li= link_to 'Events', '#events'
    %li= link_to 'Members', '#members'
    %li= link_to 'Blog', :blog
    - if current_member
      %li= link_to 'Sign out', signout_path
    - else
      %li= link_to 'Join/Log in', '/auth/twitter'
